@import "../../Styles/variables";

.task-preview {
    .task-create-date {
        color: $disable-text;
        font-size: 12px;
    }
    .task-body {
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-top: 10px;
        font-size: 14px;
    }
}