@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');
@import "./variables";

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
input::placeholder {
    font-family: 'Open Sans', sans-serif;;
}

body {
    background-color: $main-blue;
}

.app-wrapper {
    background-color: #fff;
    border-radius: 25px;
}

.container {
    margin: 6.25rem
}

.todo-app {
    display: flex;
    padding: 20px;
    & > * {
        width: 50%
    }
}

.material-symbols-outlined {
    cursor: pointer;
    transition: all .2s;   
    &:hover {
        transform: scale(1.2);
    }
}

@media(max-width:991px ) {
    .container {
        margin: 0;
    }

    .todo-app {
        flex-wrap: wrap;
        & > * {
            width: 100%;
        }
    }
}