@import '../../Styles/variables';

.search-bar {
    background-color: $background;
    border-radius: 50px;
    padding: 10px 30px;
    outline: none;
    border: none;
    width: 100%;
    border: 1px solid $border
}