@import "../../Styles/variables";

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid $border;
    height: 80px;
    position: relative;
    
    .logo-container {
        position: absolute;
        left: 10px;
    }
}