@import '../../Styles/variables';

.sidebar {
    .sidebar-head {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
        .material-symbols-outlined {
            color: $main-blue;
            cursor:pointer;
        }
    }

    .todo-list {
        list-style-type: none;
        padding: 10px 0;
        .todo-item {
            cursor: pointer;
            width:100%;
            display:flex;
            justify-content: space-between;
            padding: 10px;
            transition: background .2s;
            align-items: center;
            position: relative;
            &:hover {
                background-color: $background;
            }

            input[type="checkbox"] {
                margin-right: 10px
            }
        }
        .todo-item.done {
            color: $disable-text;
            text-decoration: line-through;
        }
        .list-item-buttons {
            span {
                color: $main-blue;
            }
        }
    }
}

@media (max-width: 991px) {
    .sidebar {
        & > div {
            margin-top: 30px
        }
    }
}